{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "quotes": [2, "double"],
    "consistent-return": 0,
    "no-unexpected-multiline": 2,
    "semi": [1, "never"],
    "no-unused-vars": [1, { "vars": "all", "args": "none" }],
    "eqeqeq": 1,
    "dot-notation": 1,
    "no-caller": 2,
    "no-eval": 2,
    "no-undef" : 1,
    "no-extend-native": 2,
    "no-implied-eval": 2,
    "no-shadow": [2, { "allow": ["err"]}],
    "no-multi-spaces": 1,
    "prefer-arrow-callback": 0,
  },
  "env": {
    "browser": true,
    "node": true
  }
}
